
<div class="row title-block">
  <div class="col s2 titles">Name</div>
  <div class="col s3 titles">Price</div>
  <div class="col s2 titles">Stock</div>
  <div class="col s3 titles">Description</div>
  <div class="col s2 titles"><button class="btn" (click)="create()">New</button></div>
</div>

<div class="row" *ngFor="let article of articles">
  <div class="col s2 admin-field">{{article.name}}</div>
  <div class="col s3 admin-field">{{article.price}}</div>
  <div class="col s2 admin-field">{{article.stock}}</div>
  <div class="col s3 admin-field">{{article.description}}</div>
  <div class="col">
    <button class="adminActionButton admin-button" [matMenuTriggerFor]="actions" mat-menu-item>
      <span class="material-icons">menu</span>
    </button>
    <mat-menu #actions="matMenu">
      <button  mat-menu-item (click)="edit(article)">
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="delete(article.id)">
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>

