<h1>Article</h1>
<form>
  <label> Id
    <input type="text" [(ngModel)] = "article.id" name="id" disabled>
  </label>
  <label> Name
    <input type="text" [(ngModel)] = "article.name" name="name">
  </label>
  <label> Price
    <input type="number" [(ngModel)]="article.price" name="price">
  </label>
  <label> Stock
    <input type="number" [(ngModel)]="article.stock" name="stock">
  </label>
  <label> Description
    <textarea type="textarea" [(ngModel)]="article.description" name="stock"></textarea>
  </label>
  <button class="btn registerFormButton" (click)="this.edit()">Change</button>
</form>
