<h1>Article</h1>
<form [formGroup] = "uploadForm">
  <label> Id
    <input type="text" formControlName="id" name="id" disabled>
  </label>
  <label> Name
    <input type="text" formControlName="name" name="name">
  </label>
  <label> Price
    <input type="number" formControlName="price" name="price">
  </label>
  <label> Stock
    <input type="number" formControlName="stock" name="stock">
  </label>
  <label> Description
    <textarea type="textarea" formControlName="description" name="stock"></textarea>
  </label>
  <label> Category
    <select class="category-select" formControlName="categoryId" name="categoryId">
      <option value="">--------------</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
    </select>
  </label>
  <label> Image
    <input type="file" name="files" (change)="onFileSelect($event)">
  </label>
  <div>
    <button class="btn registerFormButton" (click)="this.edit()">Change</button>
  </div>

</form>
