<h1>Article</h1>
<form [formGroup] = "uploadForm">
  <label> Name
    <input type="text" formControlName="name" name="name">
  </label>
  <label> Price
    <input type="number" formControlName="price"  name="price">
  </label>
  <label> Stock
    <input type="number" formControlName="stock" name="stock">
  </label>
  <label> Description
    <textarea type="textarea" formControlName="description" name="description"></textarea>
  </label>
  <input type="file" name="files" (change)="onFileSelect($event)">
  <button class="btn registerFormButton" (click)="this.create()">Create</button>
</form>
